include pyproject.toml

include *.md

include LICENSE

include setup.py

recursive-include src *
exclude .history
global-include *.json

global-exclude *__pycache__
global-exclude *.pyc
global-exclude *.log

recursive-exclude .vscode *
recursive-exclude .git *
recursive-exclude src/MMCQsc/src/compress *
recursive-exclude src/MMCQsc/src/finish *
recursive-exclude src/MMCQsc/src/prepare *
recursive-exclude src/MMCQsc/src/reports *
recursive-exclude src/MMCQsc/src index.css
recursive-exclude src/MMCQsc/src index.js
